html{
    margin: o;
}

header
{
    background-color:rgb(23, 8, 243);
    width:1400px;
    height: 300px;

}

.Grand-titre{
    text-align: center;
}

.contenaire{
    display: flex;      
}

.column1{
    flex: 1; /* La première colonne prendra 1/3 de l'espace disponible */
  background-color: #0ac204;
}

.column2{
    flex: 2; /* La deuxième colonne prendra 2/3 de l'espace disponible */
  background-color: #acf308;
}